<style>
  :root {
    --link-space-side: 30px;
    --sidebar-border-radius: 40px;
  }

  .main-sidebar {
    padding: 22px 0;
    background-color: var(--main);
    position: fixed;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    color: white;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom-right-radius: var(--sidebar-border-radius);
    font-size: 16px;
  }

  .main-sidebar a {
    color: inherit;
    text-decoration: none;
  }

  .sidebar-logo {
    margin-inline-start: var(--link-space-side);
    flex: auto 0 0;
    margin-bottom: 40px;
  }

  .sidebar-logo>a {
    color: white;
    text-decoration: none;
  }

  .app-logo-title {
    font-size: 48px;
  }

  .app-logo-subtitle {
    font-size: 18px;
  }

  .institutions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-self: stretch;
  }

  .sidebar-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 58px;
    padding: 0 var(--link-space-side);
    margin-bottom: 4px;
  }
  .sidebar-link::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sidebar-link:hover {
    background-color: var(--secondary);
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  .sidebar-link-img {
    margin-inline-end: 1rem;
  }

  .sidebar-chevron {
    margin-inline-start: auto;
    transform: rotate(-90deg);
    transition: transform 0.2s;
  }

  .sidebar-links>a {
    padding-inline-start: var(--link-space-side);
  }

  .sidebar-wikiil-logo {
    padding-inline-start: var(--link-space-side);
    margin-top: 66px;
  }

  .secondary-sidebar {
    background-color: var(--secondary);
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(calc(-1 * var(--sidebar-border-radius)));
    width: calc(var(--sidebar-width) + var(--sidebar-border-radius));
    padding-inline-start: var(--sidebar-border-radius);
    transition: all .5s;
    border-bottom-right-radius: var(--sidebar-border-radius);
    font-size: 16px;
  }

  .secondary-sidebar .institutions-list {
    position: relative;
    top: 141px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .secondary-sidebar .institutions-list>li {
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0 22px;
  }

  .secondary-sidebar .institutions-list>li:hover {
    background-color: var(--main);
  }

  .secondary-sidebar .institutions-list>li>a {
    color: white;
    text-decoration: none;
  }
</style>
{{#if langDict.isRtl}}
<style>
  .main-sidebar {
    left: auto;
    right: 0;
    border-bottom-left-radius: var(--sidebar-border-radius);
    border-bottom-right-radius: 0;
  }

  .main-sidebar>#sidebar-logo {
    text-align: center;
  }

  .secondary-sidebar {
    left: auto;
    right: 0;
    border-bottom-left-radius: var(--sidebar-border-radius);
    border-bottom-right-radius: 0;
    transform: translateX(calc(var(--sidebar-border-radius)));
  }
</style>
{{/if}}
<aside class="main-sidebar">
  <div class="sidebar-logo">
    <a href="/">
      <div class="app-logo-title">GLAM</div>
      <div class="app-logo-subtitle">WIKIDashboard</div>
    </a>
  </div>
  <div class="institutions">
    <div class="sidebar-link institution-item" id="glamsButton">
      <img class="sidebar-link-img" src="/assets/icons/institutions-icon.svg" alt="{{ langDict.sidebar.institutions }}">
      <span>{{ langDict.sidebar.institutions }}</span>
      <svg class="sidebar-chevron" id="glamsChevron" xmlns="http://www.w3.org/2000/svg" width="7" height="4"
        viewBox="0 0 7 4">
        <g fill="none" fill-rule="evenodd">
          <g fill="#ffffff">
            <g>
              <g>
                <path d="M3.5 0L7 4 0 4z"
                  transform="translate(-1376 -51) translate(1223 33) translate(153 18) matrix(1 0 0 -1 0 4)" />
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="sidebar-link">
      <img class="sidebar-link-img" src="/assets/icons/introduction-icon.svg" alt="{{ langDict.sidebar.institutions }}">
      <span>{{ langDict.sidebar.institutions }}</span>
    </div>
    <div class="sidebar-link">
      <img class="sidebar-link-img" src="/assets/icons/join-us-icon.svg" alt="{{ langDict.sidebar.institutions }}">
      <span>{{ langDict.sidebar.institutions }}</span>
    </div>
    <div class="sidebar-link">
      <img class="sidebar-link-img" src="/assets/icons/contact-us-icon.svg" alt="{{ langDict.sidebar.institutions }}">
      <span>{{ langDict.sidebar.institutions }}</span>
    </div>
  </div>
  <div class="sidebar-links">
    {{#if langDict.signup}}
    <a class="sidebar-link"
      href="https://docs.google.com/forms/d/e/1FAIpQLSd3y26g9LuCld1uYu2SgIVwflnRsTDwmbTjhvidfBYWkHy3Hg/viewform?usp=sf_link"
      target="blank">
      {{langDict.signup}}
    </a>
    {{/if}}
    <a class="sidebar-link" href="/admin/panel">
      <img class="sidebar-link-img" src="/assets/icons/control-panel-icon.svg" alt="">
      <span>Control panel</span>
    </a>
    <a class="sidebar-link" href="https://github.com/yonathan06/cassandra-GLAM-tools" target="blank"
      title="GitHub repository">
      <img class="sidebar-link-img" src="/assets/icons/github-icon.svg" alt="">
      <span>GitHub repository</span>
    </a>
  </div>
  <div class="sidebar-wikiil-logo">
    <a href="https://wikimedia.org.il/about-us/" target="blank">
      <img src="/assets/img/logo-wikimedia.png" alt="logo white">
    </a>
  </div>
</aside>
<aside class="secondary-sidebar" id="secondarySidebar">
  {{#*inline "glamLink"}}
  <li>
    <a href="/{{glam.name}}">{{glam.fullname}}</a>
  </li>
  {{/inline}}
  <ul class="institutions-list">
    {{#each glams}}
    {{> glamLink glam=this}}
    {{/each}}
  </ul>
</aside>
<script>
  const direction = langDict.isRtl ? 'right' : 'left';
  const glamsButton = document.querySelector('#glamsButton');
  const secondSidebar = document.querySelector('#secondarySidebar');
  const glamsChevron = document.querySelector('#glamsChevron');
  let isOpen = false;
  function showSideBar() {
    secondSidebar.style[direction] = 'var(--sidebar-width)';
    glamsChevron.style.transform = "rotate(0deg)";
    isOpen = true;
  }
  function hideSideBar() {
    secondSidebar.style[direction] = 0;
    glamsChevron.style.transform = "rotate(-90deg)";
    isOpen = false;
  }
  glamsButton.addEventListener('click', () => {
    if (isOpen) {
      hideSideBar();
    } else {
      showSideBar();
    }
  });

  window.addEventListener('click', (e) => {
    if (isOpen && e.target.id !== 'secondarySidebar' && e.target.id !== 'glamsButton') {
      hideSideBar();
    }
  });
</script>