{{#> mainWrapper}}
<style>
	.container {
		padding: 24px 32px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		row-gap: 32px;
		column-gap: 24px;
		margin-inline-start: var(--sidebar-width);
	}

	.glam-header {
		grid-column: 1 / 7;
		display: flex;
		justify-content: space-between;
	}

	.glam-title {
		font-size: 40px;
		font-weight: 400;
		margin-bottom: 6px;
	}

	.glam-category {
		font-size: 17px;
	}

	.glam-category a {
		margin-inline-start: 20px;
	}

	.lang-select-container {
		margin-top: 12px;
	}

	.glam-search {
		grid-column: 1 / 7;
		height: 34px;
		display: flex;
	}

	.glam-search input {
		background: none;
		border: none;
		height: inherit;
		width: 100%;
	}

	.glam-search button {
		height: inherit;
		display: flex;
		align-items: center;
		background: none;
		border: none;
	}

	.data-card {
		min-height: 100px;
		border-radius: 8px;
		background-color: var(--main);
		padding: 10px 14px;
		display: grid;
		row-gap: 6px;
		color: #fff;
	}

	.data-card-title {
		font-size: 17px;
	}

	.data-card-number {
		font-size: 35px;
		font-weight: 500;
	}

	.large-card {
		grid-column: span 2;
		border-radius: 8px;
		min-height: 200px;
	}

	.page-card {
		background-color: #fff;
		
	}
</style>
<div class="pusher">
	{{> sidebar}}
	<main class="container">
		<div class="glam-header">
			<div>
				<h1 class="glam-title">{{ glam.fullname }}</h1>
				<div class="glam-category">{{langDict.views.index.categoryTitle}} <a
						href="https://commons.wikimedia.org/wiki/Category:{{glam.category}}" target="_blank">{{glam.category}}</a>
				</div>
			</div>
			<div class="lang-select-container">
				{{> langSelect}}
			</div>
		</div>
		<form class="glam-search" id="searchFileForm">
			<button type="submit">
				<img src="/assets/img/search-24px.svg" />
			</button>
			<input type="text" name="fileName" aria-label="{{langDict.views.index.searchFile}}"
				placeholder="{{langDict.views.index.searchFile}}">
		</form>

		<div class="data-card">
			<div class="data-card-title">Number of values created</div>
			<div class="data-card-number">1</div>
		</div>
		<div class="data-card">
			<div class="data-card-title">Number of values created</div>
			<div class="data-card-number">1</div>
		</div>
		<div class="data-card">
			<div class="data-card-title">Number of values created</div>
			<div class="data-card-number">1</div>
		</div>
		<div class="data-card">
			<div class="data-card-title">Number of values created</div>
			<div class="data-card-number">1</div>
		</div>
		<div class="data-card">
			<div class="data-card-title">Number of values created</div>
			<div class="data-card-number">1</div>
		</div>
		<div class="data-card">
			<div class="data-card-title">Number of values created</div>
			<div class="data-card-number">1</div>
		</div>
		<div class="large-card page-card">
			<h4>{{langDict.views.index.cards.views.title}}</h4>
			<img src="/assets/img/main-glam-page/views-chart.png" alt="{{langDict.views.index.cards.views.title}}">
			<div>
				<a href="page-views">{{langDict.views.index.view}}</a>
			</div>
		</div>
		<div class="large-card"></div>
		<div class="large-card"></div>
		<div class="large-card"></div>
		<div class="large-card"></div>
		<div class="large-card"></div>
	</main>
</div>
<script>
	document.querySelector('#searchFileForm').addEventListener('submit', (e) => {
		e.preventDefault();
		let inputVal = e.target.querySelector('input[name="fileName"]').value;
		if (inputVal) {
			inputVal = inputVal.replace(/\s/g, "_");
			window.location.href += "/search/" + inputVal;
		}
	});
</script>
{{/mainWrapper}}